NEXT_PUBLIC_PRESTO_DEX_URL=https://prestodex-arc.vercel.app
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_MARKET_FACTORY_ADDRESS=
NEXT_PUBLIC_CIRCLE_PAYMASTER_ENABLED=false
NEXT_PUBLIC_CIRCLE_WALLETS_ENABLED=false
NEXT_PUBLIC_CIRCLE_BRIDGE_KIT_ENABLED=false
NEXT_PUBLIC_CIRCLE_GATEWAY_ENABLED=false
