NEXT_PUBLIC_PRESTO_DEX_URL=https://prestodex-arc.vercel.app
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
PRIVATE_KEY=
NEXT_PUBLIC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_MARKET_FACTORY_ADDRESS=0xB5FA65ae7c76b2DeecA1906848e8805df6dCF807
NEXT_PUBLIC_CIRCLE_PAYMASTER_ENABLED=false
NEXT_PUBLIC_CIRCLE_WALLETS_ENABLED=false
NEXT_PUBLIC_CIRCLE_APP_ID=
CIRCLE_API_KEY=
CIRCLE_BASE_URL=https://api.circle.com
CIRCLE_WALLET_BLOCKCHAIN=ARC-TESTNET
CIRCLE_WALLET_ACCOUNT_TYPE=SCA
NEXT_PUBLIC_CIRCLE_BRIDGE_KIT_ENABLED=false
NEXT_PUBLIC_CIRCLE_GATEWAY_ENABLED=false
